{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- src/MMI/Jub/GalerieBundle/views/FrontOffice/index.html.twig -->
<div>    
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<br><br><br>
    	<section id="gestion" style="float:right">
    	<div id="infos">
    	<a href="{{ path('mmi_jub_galerie_profil') }}">Mon Profil</a> |
    	<a href="{{ path('mmi_jub_galerie_admin') }}"> Mon Compte </a> |
    	<a id="infos" href="{{ path('fos_user_security_logout') }}"> Se déconnecter ({{ app.user.username }})</a> 
    	</div>
   		</section><br>
		<section id="presentation">
   		<div>
   		Bonjour <span style="color: #ee6fa0;text-transform:capitalize;">{{ app.user.username }}</span> ! Vous pouvez voir la liste des centres d'intérêt et choisir ceux qui vous intéressent.</div>
<div>Si les centres d intérêt proposés ne vous conviennent pas, proposez en de nouveau !</div>
<div>Pensez également à <a href="{{ path('mmi_jub_galerie_profil') }}"><span style="color: #ee6fa0">consulter votre profil</span></a> pour vérifier que vous avez bien sélectionné toutes vos passions.</div>
 <div>Enfin, si vous voulez garder un de vos centres d'intérêt secrets, n'hésitez pas à le masquer !</div>
 
   		</div>
   		
   		<div>
<p id="users" style="margin-top:50px;text-align:center;font-size:24px;text-transform:uppercase;"> Nos utilisateurs</p>    
<ul>
			    {%for user in users %}
			        	<li style="display:inline;text-transform:capitalize;"> <a href="{{ path('mmi_jub_galerie_show_cis',{ id: user.id }) }}"> {{ user }}</a> </li>;
			    {% endfor %}
			
			</ul>    
		</div>   
	</section>  
<br>
	<section id="recherche">
		<p id="users" style="margin-top:50px;text-align:center;font-size:24px;text-transform:uppercase;">Rechercher des utilisateurs avec des centres d'intérêt</p>
		<div>
			Vous pouvez retrouver des utilisateurs depuis leurs centres d'intérêts avec la liste en dessous !
		</div>
		<div>
			{{ render(controller("MMIJubGalerieBundle:BackOffice:listeRechercheCi")) }}
		</div>
	</section>  		
    {% else %}
    	<section id="presentation">
    	Bienvenue sur le site consacré à vos centres d'intérêt
    	</section><br>
    	<section id="bouton_front">
	    	<div id="button_rose" class="button">
	    		<a href="{{ path('fos_user_security_login') }}"> Se connecter </a> 
	    	</div>
	    	<div id="button_gris" class="button">
	    		<a href="{{ path('fos_user_registration_register') }}"> S'inscrire </a>
	    	</div>
    	</section>
    {% endif %}
</div> 
{% endblock %}